.App {
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-container {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  padding: 10px;
  font-size: 16px;
  margin-right: 10px;
  border-radius: 5px; 
  width: 200px; 
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px; 
}

.todos-container {
  display: flex; 
  flex-wrap: wrap; 
  justify-content: flex-start;
  width: 100%;
}

.todo-item {
  display: flex;
  justify-content: center;
  align-items: top;
  margin: 10px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px; 
  border-color: red;
  text-align: center;
  width: 100px; 
  height: 100px; 
}
